.contact_form {
  background-image: url(../../assets/all-images/test_9.png);
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  background-position: center;
  /* background-attachment: fixed; */
}
.border_glow_contact {
  box-shadow: 0 0 18px white;
}
.border_glow_contact {
  box-shadow: 0 0 18px white;
}
